stages:
  - validate
  - test
  - build
  - deploy
  - cleanup

include:
  - project: hegerdes/gitlab-actions
    file: .gitlab/ci/snippets.yml
  - project: hegerdes/gitlab-actions
    file: .gitlab/ci/rules.yml
  - component: gitlab.com/components/sast/sast@main
    rules:
      - if: $SAST_DISABLED == "true"
        when: never
  - component: gitlab.com/components/secret-detection/secret-detection@main
    rules:
      - if: $SECRET_DETECTION_DISABLED == "true"
        when: never
  - component: gitlab.com/hegerdes/gitlab-actions/pre-commit@main
  - component: gitlab.com/components/opentofu/job-templates@main
    inputs:
      version: latest
      opentofu_version: 1.10.6

# Shared variables
variables:
  GL_K8S_CONTEXT: gitlab-ci
  GL_K8S_AGENT_ID: 1103496
  AWS_PROFILE: aws-gitlab-ci
  AWS_ROLE_ARN: arn:aws:iam::842273266054:role/gitlab-ci-hegerdes-gitops
  AWS_ROLE_SESSION_NAME: "ci-job-${CI_JOB_ID}"
  AWS_DEFAULT_REGION: "eu-central-1"
  TF_IN_AUTOMATION: "true"

.tf_stacks: &tf_stacks
  - GITLAB_TOFU_ROOT_DIR: infra/k8s-ci-test
    GITLAB_TOFU_STATE_NAME: k8s-test
  - GITLAB_TOFU_ROOT_DIR: infra/hcloud-tf-ci-test
    GITLAB_TOFU_STATE_NAME: hcloud

.job-scripts:
  tf-pre-k8s-setup:
    - !reference [.snippets, debian-core-tools]
    - !reference [.snippets, alpine-core-tools]
    - !reference [.snippets, openssl-install]
    - !reference [.snippets, kubectl-install]
    - !reference [.snippets, kubectl-gitlab-agent]
    - source *.env
    - |
      # Check cluster access
      if ! kubectl cluster-info > /dev/null 2>&1; then
        echo "Error: kubectl connection to live cluster failed! Trying dummy cluster..."
        openssl s_client -showcerts -connect kubernetes:6443 </dev/null | \
          sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' > k8s-ca.cert
        kubectl config set-credentials demo --token="${KUBE_TOKEN}"
        kubectl config set-cluster dummy \
          --server=https://kubernetes:6443 \
          --certificate-authority=k8s-ca.cert \
          --embed-certs=true
        kubectl config set-context dummy-cluster --cluster=dummy --user=demo
        kubectl config use-context dummy-cluster
      fi
      kubectl version
  aws-oidc-login:
    - |
      mkdir -p ~/.aws
      cat > ~/.aws/config <<EOF
      [profile ${AWS_PROFILE}]
      region = ${AWS_DEFAULT_REGION}
      output = json
      role_arn=${AWS_ROLE_ARN}
      web_identity_token_file = /tmp/web_identity_token
      EOF
      echo "${GITLAB_OIDC_TOKEN}" > /tmp/web_identity_token
    - aws --version
    - aws sts get-caller-identity

pre-commit:
  allow_failure: true
  before_script:
    - !reference [.snippets, debian-core-tools]
    - !reference [.snippets, alpine-core-tools]
    - !reference [.snippets, opentofu-install]
    - !reference [.snippets, tflint-install]
    - !reference [.snippets, ssh-client-install]
    - |
      # Generating ssh demo-key-pair
      ssh-keygen -t rsa -b 4096 -C "demo@example.com" -f ~/.ssh/id_rsa -N ""

kube-lint:
  image: alpine
  stage: validate
  needs: []
  before_script:
    - !reference [.snippets, debian-core-tools]
    - !reference [.snippets, alpine-core-tools]
    - !reference [.snippets, kubectl-install]
    - !reference [.snippets, kubeconform-install]
    - !reference [.snippets, helm-install]
    - !reference [.snippets, yq-by-mike-farah-install]
  script:
    - ./scripts/k8s-manifest-lint.sh

  rules:
    - !reference [.rules, default-merge-rules]
    - !reference [.rules, default-branch-only-rules]

aws-auth:
  stage: .pre
  image:
    name: debian
    entrypoint: [""]
  id_tokens:
    GITLAB_OIDC_TOKEN:
      aud: https://gitlab.com
  script:
    - !reference [.snippets, debian-core-tools]
    - !reference [.snippets, alpine-core-tools]
    - !reference [.snippets, kubectl-install]
    - !reference [.snippets, aws-cli-install]
    - !reference [.job-scripts, aws-oidc-login]
    - |
      # Getting auth token
      KUBE_TOKEN=$(aws sts get-web-identity-token --audience "https://k8s.hegerdes.com" --signing-algorithm ES384 | jq -r .WebIdentityToken)
      kubectl --server https://kubernetes.k8s.henrikgerdes.me:6443 --insecure-skip-tls-verify=true --token $KUBE_TOKEN get pods -A

az-auth:
  image: mcr.microsoft.com/azure-cli:latest
  stage: .pre
  id_tokens:
    GITLAB_OIDC_TOKEN:
      aud: https://gitlab.com
  variables:
    AZURE_CLIENT_ID: $AZURE_ENTRA_ID_GITLAB_CI_CLIENT_ID
    AZURE_TENANT_ID: $AZURE_TENANT_ID_HEGERDES
    AZURE_KEY_VAULT_SERVER_URL: https://hegerdes.vault.azure.net
  # NOTE: Only supported on premium or ultimate
  secrets:
    DEMO_SECRET:
      token: $GITLAB_OIDC_TOKEN
      azure_key_vault:
        name: hcloud-k8s-token
  script:
    - !reference [.snippets, jq-install]
    - az login --service-principal -u "${AZURE_CLIENT_ID}" -t "${AZURE_TENANT_ID}" --federated-token $GITLAB_OIDC_TOKEN
    - |
      # Setting envs
      echo "HCLOUD_TOKEN=$(az keyvault secret show --vault-name hegerdes --name hcloud-k8s-token | jq -r .value)" >> ci.env
      echo "export HCLOUD_TOKEN=$(az keyvault secret show --vault-name hegerdes --name hcloud-k8s-token | jq -r .value)" >> azure.env
  artifacts:
    expire_in: 15 min
    access: none
    paths: ["*.env"]
    reports:
      dotenv: ci.env
  rules:
    - !reference [.rules, default-merge-rules]
    - !reference [.rules, default-branch-only-rules]

TF:fmt:
  extends: [.opentofu:fmt]
  parallel:
    matrix: *tf_stacks

TF:validate:
  extends: [.opentofu:validate]
  parallel:
    matrix: *tf_stacks

TF:plan:
  extends: [.opentofu:plan]
  allow_failure: true
  needs: [az-auth]
  parallel:
    matrix: *tf_stacks
  services:
    - name: hegerdes/kubernetes-etcd
      alias: kubernetes
  before_script:
    - !reference [.job-scripts, tf-pre-k8s-setup]

TF:apply:
  extends: [.opentofu:apply]
  allow_failure: true
  parallel:
    matrix: *tf_stacks
  services:
    - name: hegerdes/kubernetes-etcd
      alias: kubernetes
  needs:
    - job: az-auth
    - job: TF:plan
      parallel:
        matrix: *tf_stacks
  before_script:
    - !reference [.job-scripts, tf-pre-k8s-setup]
