machine:
  kubelet:
    nodeIP:
      validSubnets:
      %{ for subnet in subnets ~}
      - ${subnet}
      %{ endfor ~}

    extraConfig:
      serverTLSBootstrap: true
      maxPods: 220
      nodeStatusMaxImages: 100
      serializeImagePulls: false
      maxParallelImagePulls: 8
      failSwapOn: true

  network:
    extraHostEntries:
    - ip: ${controlplane_internal_ip}
      aliases:
      - ${controlplane_endpoint_internal}

cluster:
  apiServer:
    certSANs:
    %{ for SAN in certSANs ~}
      - ${SAN}
    %{ endfor ~}

      # Extra arguments to supply to the API server.
    extraArgs:
    %{ for k, v in extraArgsApiServer ~}
        ${k}: "${v}"
    %{ endfor ~}


  network:
    cni:
        name: none
  proxy:
    disabled: true

  inlineManifests:
    - name: runtimeclass-runc
      contents: |-
        apiVersion: node.k8s.io/v1
        kind: RuntimeClass
        metadata:
          name: runc
        handler: runc
    - name: runtimeclass-crun
      contents: |-
        apiVersion: node.k8s.io/v1
        kind: RuntimeClass
        metadata:
          name: crun
        handler: crun
    - name: runtimeclass-gvisor
      contents: |-
        apiVersion: node.k8s.io/v1
        kind: RuntimeClass
        metadata:
          name: gvisor
        handler: runsc
    - name: runtimeclass-wasmedge
      contents: |-
        apiVersion: node.k8s.io/v1
        kind: RuntimeClass
        metadata:
          name: wasmedge
        handler: wasmedge
