machine:
  kubelet:
    nodeIP:
      validSubnets:
      %{ for subnet in subnets ~}
      - ${subnet}
      %{ endfor ~}

    extraConfig:
      serverTLSBootstrap: true
      serializeImagePulls: false
      maxParallelImagePulls: 8
      nodeStatusMaxImages: 100
      maxPods: 220
      readOnlyPort: 0
      failSwapOn: true

    extraArgs:
        cloud-provider: external

  network:
    extraHostEntries:
    - ip: ${controlplane_internal_ip}
      aliases:
      - ${controlplane_endpoint_internal}

  certSANs:
  %{ for SAN in machineCertSANs ~}
    - ${SAN}
  %{ endfor ~}

  nodeLabels:
  %{ for k,v in nodeLabels ~}
    ${k}: ${v}
  %{ endfor ~}

cluster:
  allowSchedulingOnControlPlanes: true
  adminKubeconfig:
      certLifetime: 6h0m0s
  apiServer:
    certSANs:
    %{ for SAN in apiServerCertSANs ~}
      - ${SAN}
    %{ endfor ~}

      # Extra arguments to supply to the API server.
    extraArgs:
    %{ for k, v in extraArgsApiServer ~}
      ${k}: "${v}"
    %{ endfor ~}

  network:
    cni:
        name: none
  proxy:
    disabled: true
