apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: example
  namespace: wasm
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: azure-store
  target:
    name: example-cookie-secret
    creationPolicy: Owner

  data:
    - secretKey: example-cookie-secret
      remoteRef:
        key: example-cookie-secret
        decodingStrategy: None # can be None, Base64, Base64URL or Auto
